/* ======= Reset ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}



/* ======= Scrollbar ======= */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #f1e9e9;
}


*::-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid #ffffff;
}




/* ======= style.css ======= */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}


header {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
}


header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}


header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
}


header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}


main {
    /* background-color: antiquewhite; */
    padding: 25px;
}


main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


main .cartao-pokemon {
    background-color: #b8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
}


.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}


main .cartao-pokemon .informacoes span {
    /* background-color: aqua; */
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
    /* background-color: gray; */
}


main .cartao-pokemon .tipos {
    /* background-color: white; */
    display: flex;
    gap: 15px;
}


main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}


.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}


.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}


main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}









/*
    Autor: Daniel Oliveira
    Email: danieloliveira.webmaster@gmail.com
    Manaus/Amazonas/Brasil
    15/05/2023
*/